#*
#*#
*#
*.*#
*.class
*.dSYM
*.gcda
*.gcno
*.la
*.lo
*.o
*.so
*~
.#*
.*.sw*
.deps
.deps/
.libs
COPYING
DS_Store
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bench_cache
bench_hash
codebench/Makefile.in
compile
config.guconfig.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core
depcomp
ess
gen-cpp
gen-rb
install-sh
libtool
memc3
memcached
memcached-debug
missing
nstall-sh
sizes
stamp-h1
tags
testapp
timedrun
